.idea/
*.swp
.soccer.wbproj
*.pyc
reflog/
docs/docs/site/
x11docker/
Makefile
worlds/soccer/b.png
game/controllers/MainSupervisor/__pycache__/
/game/worlds/.*.wbproj
game/protos/custom_robot.proto
*.cpython-39.pyc
